<a href="https://colab.research.google.com/github/atomiceltaweel/CV/blob/main/%D8%B7%D9%8A%D8%A7%D8%B1%D9%8A%D9%861.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import glob
import os
import pandas as pd
import numpy as np
output = pd.DataFrame()
for file in glob.glob(os.getcwd()+"/*.xlsx"):
    cn = pd.read_excel(file)
    output = output.append(cn)
output.to_csv(os.getcwd()+"\\outPut.csv", index = False, na_rep = "NA", header=None)
path = "/content"

filenames = glob.glob(path + "/*.xlsx")
print('File names:', filenames)

File names: ['/content/صافي طيارين.xlsx', '/content/صافي مضيفين.xlsx', '/content/صافي مهندسين .xlsx']

In [ ]:
df = pd.DataFrame()
for f in filenames:
    data = pd.read_excel(f, 'Sheet1')
    df = df.append(data)
df

           تاريخ الميلاد       تاريخ الاشتراك حالة العضوية  أجر الاشتراك 2022
0    1968-09-01 00:00:00  2007-01-01 00:00:00         مؤسس          6303.3048
1    1967-09-03 00:00:00  2007-01-01 00:00:00         مؤسس          6303.3048
2    1976-07-27 00:00:00  2007-01-01 00:00:00         مؤسس          6303.3048
3    1976-01-09 00:00:00  2007-01-01 00:00:00         مؤسس          6303.3048
4    1969-06-16 00:00:00  2007-01-01 00:00:00         مؤسس          6303.3048
..                   ...                  ...          ...                ...
707  1987-09-20 00:00:00  2021-09-01 00:00:00         منضم          1560.0000
708  1987-04-16 00:00:00  2021-09-01 00:00:00         منضم          1560.0000
709  1990-05-23 00:00:00  2021-10-01 00:00:00         منضم          1560.0000
710  1994-11-12 00:00:00  2021-11-01 00:00:00         منضم          1560.0000
711  1994-03-15 00:00:00  2021-12-01 00:00:00         منضم          1560.0000

[2510 rows x 4 columns]

In [ ]:
df.keys()

Index(['تاريخ الميلاد', 'تاريخ الاشتراك', 'حالة العضوية', 'أجر الاشتراك 2022'], dtype='object')

In [ ]:
del df['نسبة الصندوق سنويا']
del df['SID']
del df['الاسم']

del df['المرتب الاساسى السنوى']
del df['نسبة الصندوق شهريا']
del df['الادارة التعليمية']

KeyError: ignored

In [ ]:
df.keys()

Index(['تاريخ الميلاد', 'تاريخ الاشتراك', 'حالة العضوية', 'أجر الاشتراك 2022'], dtype='object')

In [ ]:
df.head()

  تاريخ الميلاد       تاريخ الاشتراك حالة العضوية  أجر الاشتراك 2022
0    1968-09-01  2007-01-01 00:00:00         مؤسس          6303.3048
1    1967-09-03  2007-01-01 00:00:00         مؤسس          6303.3048
2    1976-07-27  2007-01-01 00:00:00         مؤسس          6303.3048
3    1976-01-09  2007-01-01 00:00:00         مؤسس          6303.3048
4    1969-06-16  2007-01-01 00:00:00         مؤسس          6303.3048

In [ ]:

df['تاريخ الميلاد'] = pd.to_datetime(df['تاريخ الميلاد'], format='%Y-%m-%d ')

print (df)
print (df.dtypes)
from datetime import datetime, date

    تاريخ الميلاد       تاريخ الاشتراك حالة العضوية  أجر الاشتراك 2022
0      1968-09-01  2007-01-01 00:00:00         مؤسس          6303.3048
1      1967-09-03  2007-01-01 00:00:00         مؤسس          6303.3048
2      1976-07-27  2007-01-01 00:00:00         مؤسس          6303.3048
3      1976-01-09  2007-01-01 00:00:00         مؤسس          6303.3048
4      1969-06-16  2007-01-01 00:00:00         مؤسس          6303.3048
..            ...                  ...          ...                ...
707    1987-09-20  2021-09-01 00:00:00         منضم          1560.0000
708    1987-04-16  2021-09-01 00:00:00         منضم          1560.0000
709    1990-05-23  2021-10-01 00:00:00         منضم          1560.0000
710    1994-11-12  2021-11-01 00:00:00         منضم          1560.0000
711    1994-03-15  2021-12-01 00:00:00         منضم          1560.0000

[2510 rows x 4 columns]
تاريخ الميلاد        datetime64[ns]
تاريخ الاشتراك               object
حالة العضوية                 object
أجر الاشتراك 2022           float64
dtype: object

In [ ]:
df['تاريخ الاشتراك'] = pd.to_datetime(df['تاريخ الاشتراك'])

ValueError: ignored

In [ ]:
df.dtypes

تاريخ الميلاد        datetime64[ns]
تاريخ الاشتراك               object
حالة العضوية                 object
أجر الاشتراك 2022           float64
dtype: object

In [ ]:
df['DATE']=pd.to_datetime(df[['year','month','day']],errors='coerce')
df.head()

  تاريخ الميلاد  لمرتب الاساسى الشهرى  year day month       DATE
0      19730305               1180.00  1973  05    03 1973-03-05
1      19730514               1076.78  1973  14    05 1973-05-14
2      19731125               1076.78  1973  25    11 1973-11-25
3      19730810               1149.00  1973  10    08 1973-08-10
4      19731105               1030.65  1973  05    11 1973-11-05

In [ ]:
df.dtypes

تاريخ الميلاد                   object
لمرتب الاساسى الشهرى           float64
year                            object
day                             object
month                           object
DATE                    datetime64[ns]
dtype: object

In [ ]:
table = pd.pivot_table(df, values=['تاريخ الميلاد',''أجر الاشتراك 2022'], index=['year'], aggfunc={'لمرتب الاساسى الشهرى': np.sum, 'تاريخ الميلاد': np.count_nonzero})
table

KeyError: ignored

In [ ]:
df.to_excel('DATA.xlsx', sheet_name='بيانات الصندوق')